.worldLeadersDiv{
    width: 300px;
    border: 2px solid black;
    background-color: brown;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 20px;
}


.worldLeadersDiv p{
    text-align: justify;
}



.worldLeadersPic{
    width: 200px;
    height: 200px;
}

#modiDiv{
    border:20px dotted red;
    padding:50px;
    background-image: url("./Images/india\ flag.webp");
    background-size: 100px;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-origin: padding-box;
    background-origin: content-box;
}

#trumpDiv{
    background-image: url("./Images/usa\ flag.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-position: center bottom;
    background-position: left bottom;
    background-position: right bottom;
}

#putinDiv{
    background-image: url("./Images/russia\ flag.webp");
    background-size: contain;
    background-attachment: fixed;
    background-attachment: scroll;
}

body{
    background-image: url("./Images/applesmall.png");
}